body {
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

#wrapper {
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#content {
    margin: 0 10px 0 0;
    width: 75%;
    overflow: scroll;
}

#content .inner {
    padding: 10px;
    background-color: #cccccc;
}

#side {
    float: right;
    width: 23%;
    margin: 0;
    background-color: #cccccc;
}

#side .inner {
    padding: 10px;
}

#footer {
    margin-top: 10px;
    clear: both;
    width: 100%;
    text-align: center;
}

#footer .inner {
    margin: 10px;
}

div {
    display: inline-block;
}
