.htmltag {
    width: 100%;
}

.htmltag {
    margin: 0;
    padding: 0;
}

.htmltag-attribute {
    padding-left: 10px;
}

.tag-depth {
    margin-left: 5px;
}

.tagcount {
    width: 100%;
}

.tagcount:hover {
    background-color: #888888;
}

.tag-highlight {
    background-color: #777777;
}
